<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
<link rel="stylesheet" href="css/index.css">
<link rel="preconnect" href="https://fonts.gstatic.com">
<script defer type="module" src="../js/home.js"></script>
    <title>Jamaica Eternal Tours</title>
</head>
<body>
    <!-- Header Component -->
    <%- include("./layouts/header.ejs") %> 
    <main>
        <!-- Video Component -->
        <section class="section-bgvideo">
            <div class="video-wrapper">
                 <video muted loop autoplay>
                <source src="../videos/jm.mp4" type="video/mp4">
            </video>
            </div>
           
        </section>

        <!-- Features Component -->
        <%- include("./layouts/features.ejs") %> 
        
        <!-- Reviews Component -->
        <section class="section-reviews">
        
        </section>
        <!-- Cards Component -->
        <section class="section-cards">
            <h2>Popular Tours</h2>
    <div class="cards">
        <% cards.forEach(card => { %>
        <div class=" cards__card">
            <a href="/book">
            <div class=" card-top-<%= card.id %>">
                <h3 class="card-top__heading"><%= card.name %></h3>
            </div>
         </a>
            <div class="card-btm">
                <p><%= card.type %></p>
                <a class="card-btm__button" href="/book?selectedForm=tours">Book</a>     
                <!-- <a class="card-btm__link" target="_blank" href="https://www.planetware.com/tourist-attractions/jamaica-jam.htm">Know More ?</a> -->
            </div>
            </div>
       <% })%>
          

</div>
</section>
<!-- Gallery Component -->
<section class="section-gallery">
    <div class="gallery">
    <img src="../img/martha-brae.jpg" alt="Martha Brae Jamaica">
    <img src="../img/dunns-river-opt.jpg" alt="Dunns River Jamaica">
    <img src="../img/negril.jpg" alt="Negril Beach Jamaica">
    <img src="../img/blue-mountain-opt.jpg" alt="Blue Mountain Jamaica">
    <img src="../img/blue-hole.jpg" alt="Blue Hole Jamaica">
    <img src="../img/ys-falls.jpg" alt="YS Falls Jamaica">
    <img src="../img/rose-hall.jpg" alt="Rose Hall Jamaica">
    <img src="../img/chukka-atv.jpg" alt="Chukka Atv">

</div>
</section>

    </main>
</body>
</html>