<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
   <link rel="stylesheet" href="../css/transfer.css">
   <link rel="preconnect" href="https://fonts.gstatic.com">
   <link href="https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;600&display=swap" rel="stylesheet">
    <title>Jamaica Eternal Tours And Airport Transfers</title>
    <script type="module"  src="../js/transfer.js" defer></script>
    <style>
        .services__content{line-height: 3.5rem;}
        h2{text-align: center;}
    </style>
</head>
<body>
    <header class="header">
        <div class="burger">
            <div class="burger__stroke"></div>
            <div class="burger__stroke"></div>
            <div class="burger__stroke"></div>
        </div>
        <nav class="header__nav">
            <%- include ("layouts/navigation") %> 
        </nav>
        <div class="header__content">
            <h1 class="header__content__heading">Jamaica Eternal Airport Transfer</h1>
            <h2 class="header__content__heading2">  We provide Airport Transfer and <b><a href="/">tours</a></b></h2>
            <div class="header__content-button">Book Now</div>
        </div>
    </header>
    <main>
        
        <section class="section-gallery">
            <h3 class="sub-heading">Choose Your Hotel Location</h3>
            <div class="gallery">
                <figure class="gallery__card">
                <img src="../img/grand-palladium.jpg" alt="Grand Palladium Hotel">
                <h2>Hanover</h2>
                <div class="gallery__card__content">
                    <a href="/book"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>

                <figure class="gallery__card">
                <img src="../img/hilton-rose-hall-resort.jpg" alt="Hilton Rose Hall Hotel">
                <h2>Montego Bay</h2>
                <div class="gallery__card__content">
                    <a href="/book?place=montego bay"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>

                 <figure class="gallery__card">
                <img src="../img/ocean-coral-spring.jpg" alt="Ocean Coral Spring Hotel">
                <h2>Falmoth</h2>
                <div class="gallery__card__content">
                    <a href="/book?place=falmoth"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>
                <figure class="gallery__card">
                    <img src="../img/royalton-negril.jpg" alt="Royalton Negril Hotel">
                    <h2>Negril </h2>
                    <div class="gallery__card__content">
                        <a href="/book?place=negril"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                        <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                    </div>
                    </figure>
                <figure class="gallery__card">
                <img src="../img/royalton-blue-waters.jpg" alt="Royalton Blue Waters Hotel">
                <h2>Ocho Rios</h2>
                <div class="gallery__card__content">
                    <a href="/book?place=ocho rios"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>

               

                <figure class="gallery__card">
                <img src="../img/s-hotel.jpg" alt="S Hotel">
                <h2>S Hotel</h2>
                <div class="gallery__card__content">
                    <a href="/book?hotel=S Hotel"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>

                <figure class="gallery__card">
                <img src="../img/jewel-grande-montego.jpg" alt="Jewel Grande Hotel">
                <h2>Jewel Grande</h2>
                <div class="gallery__card__content">
                    <a href="/book?hotel=Jewel Grande"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
                </figure>

                <figure class="gallery__card">
                <img src="../img/iberostar-hotel.jpg" alt="Iberostar Grand Rose Hall Hotel">
                <h2>Iberostar Grand </h2>
                <div class="gallery__card__content">
                    <a href="/book?hotel=Iberostar Grand"> <div class="gallery__card__content__btns card-book-btn">Book</div></a>
                    <div class="gallery__card__content__btns card-pricings-btn">Check Pricings</div>
                </div>
            </figure>
            </div>
        </section>
        <section class="section-transfers">
            <h3 class="sub-heading">Popular Hotels</h3>
            <div class="hotels">
               <% hotels.forEach((hotel) => {%>
                   <div class="hotels__hotel">
                       <div class="hotels__hotel__name">
                           <span class="right-arrow"></span>
                        <span><%= hotel.name %></span>
                       </div>
                       <ul class="hotels__hotel__description hotels-hide-description">
                           <li><b>$<%= hotel.smallPrice %> USD</b> : 1- 4  passengers traveling as a private group  </li>
                           <li><b>$<%= hotel.largePrice%> USD (per person)</b>  : 5- 9 passengers traveling as a private group </li>
                           <li>Groups of 10 or more please contact us for info on the group rate </li>
                           <a href="/book/?hotel=<%= hotel.name %>"><li class="hotels__hotel__payment-btn">Book</li></a>
                        </ul>
                   </div>
               <%})%>
            </div>
            <p style="margin:4rem; text-align: center;font-weight: bold;">Please note that major currencies accepted : £, €, CA$ & USD *</p>

 
        </section>
        <%- include("./layouts/features.ejs") %> 

        
    </main>
    <script>
      
    </script>

</body>
</html>